.container {
  padding-left: 20px;
}

.container a {
  font-size: 1.4rem;
}

.field {
    display: block;
    width: 99%;
    height: 50px;
    border: 0;
    border-bottom: 2px solid #DCDCDC;
    font-weight: 500;
    font-size: 18px;
    outline: none;
}

.submit {
    border: 0;
    color: #4BD3C1;
    float: right;
    margin-top: 100px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
}
